---
title: 8000038 GDPR underordnet forretningsforbindelse bekreftelse
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 0e38f360e56d750c917e61a56bb8a7e8587c00fc
ms.sourcegitcommit: e2864efcfb493b6e46b662b746661a61232bdba7
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 01/24/2019
ms.locfileid: "29481987"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="d8d9b-102">Fødselsdato vises i Microsoft-kontoen er feil</span><span class="sxs-lookup"><span data-stu-id="d8d9b-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="d8d9b-p101">Microsoft tar konto sikkerhet på alvor. Du kan har nylig blitt bedt om å gi samtykke fra foresatte for et barns konto for Microsoft. Hvis du trenger hjelp til å gi samtykke fra foresatte eller oppdatere Fødselsdato på en Microsoft-konto, kan du se [Aldersverifisering for godkjennelse](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="d8d9b-p101">Microsoft takes account security very seriously. You may have recently been prompted to provide parental consent for a child's Microsoft account. If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="d8d9b-106">Lær mer om [samtykke fra foresatte og Microsoft barnekontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="d8d9b-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  

