---
title: EDU-bekreftelse
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205276"
---
# <a name="edu-verification"></a><span data-ttu-id="ddd6a-102">EDU-bekreftelse</span><span class="sxs-lookup"><span data-stu-id="ddd6a-102">EDU verification</span></span>

<span data-ttu-id="ddd6a-103">I de fleste tilfeller behandles forespørsler om akademisk berettigelse innen 24-48 timer.</span><span class="sxs-lookup"><span data-stu-id="ddd6a-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="ddd6a-104">Noen forespørsler kan kreve grundigere gjennomgang og kan ta opptil 10 virkedager å behandle.</span><span class="sxs-lookup"><span data-stu-id="ddd6a-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="ddd6a-105">Når du er ferdig, sender vi en e-post med skolens kvalifikasjonsstatus.</span><span class="sxs-lookup"><span data-stu-id="ddd6a-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="ddd6a-106">**Viktig** Hvis du gikk ut av bekreftelsesveiviseren før du går inn i et domene, kan du når som helst [gjenoppta veiviseren for akademisk bekreftelse](https://go.microsoft.com/fwlink/p/?linkid=2135255) under den gratis prøveperioden.</span><span class="sxs-lookup"><span data-stu-id="ddd6a-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="ddd6a-107">Hvis du vil kontrollere statusen for domenet, kan du gå til [administrasjonssenteret for Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="ddd6a-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="ddd6a-108">Bla til bunnen på hjemmesiden, og finn **Fakturering-kortet.**</span><span class="sxs-lookup"><span data-stu-id="ddd6a-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="ddd6a-109">**Faktureringskortet** angir statusen for bekreftelsesprosessen (godkjent, ventende, avslått eller legg til domenet ditt).</span><span class="sxs-lookup"><span data-stu-id="ddd6a-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="ddd6a-110">Hvis forespørselen din blir avslått, kan du se [Skolen min er ikke kvalifisert. Hva gjør jeg nå?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="ddd6a-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>