---
title: EDU-bekreftelse
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 870f175adc5ee31d32266a69af9acedb66899bc8
ms.sourcegitcommit: 8bc60ec34bc1e40685e3976576e04a2623f63a7c
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 04/15/2021
ms.locfileid: "51814381"
---
# <a name="edu-verification"></a><span data-ttu-id="f38dc-102">EDU-bekreftelse</span><span class="sxs-lookup"><span data-stu-id="f38dc-102">EDU verification</span></span>

<span data-ttu-id="f38dc-103">I de fleste tilfeller behandles forespørsler om akademisk kvalifisering innen 24–48 timer.</span><span class="sxs-lookup"><span data-stu-id="f38dc-103">In most cases, academic eligibility requests are processed within 24-48 hours.</span></span> <span data-ttu-id="f38dc-104">Noen forespørsler kan kreve en grundigere gjennomgang, og det kan ta opptil 10 virkedager å behandle.</span><span class="sxs-lookup"><span data-stu-id="f38dc-104">Some requests may require more thorough review and can take up to 10 business days to process.</span></span> <span data-ttu-id="f38dc-105">Når du er ferdig, sender vi en e-postmelding med skolens kvalifiseringsstatus.</span><span class="sxs-lookup"><span data-stu-id="f38dc-105">Once completed, we will send an email with your school’s eligibility status.</span></span>

<span data-ttu-id="f38dc-106">**Viktig** Hvis du avsluttet bekreftelsesveiviseren [](https://go.microsoft.com/fwlink/p/?linkid=2135255) før du gikk inn i et domene, kan du gjenoppta veiviseren for akademisk bekreftelse når som helst i løpet av den gratis prøveperioden.</span><span class="sxs-lookup"><span data-stu-id="f38dc-106">**Important** If you exited the verification wizard before entering a domain, you can [resume the academic verification wizard](https://go.microsoft.com/fwlink/p/?linkid=2135255) at any time during your free trial.</span></span>

<span data-ttu-id="f38dc-107">Hvis du vil kontrollere statusen for domenet, går du til administrasjonssenteret for [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span><span class="sxs-lookup"><span data-stu-id="f38dc-107">If you would like to check the status of your domain, go to the [Microsoft 365 admin center](https://go.microsoft.com/fwlink/p/?linkid=2024339).</span></span> <span data-ttu-id="f38dc-108">Rull ned til bunnen på hjemmesiden, og finn **faktureringskortet.**</span><span class="sxs-lookup"><span data-stu-id="f38dc-108">On the home page, scroll to the bottom and find the **Billing** card.</span></span> <span data-ttu-id="f38dc-109">**Faktureringskortet** angir statusen for bekreftelsesprosessen (godkjent, ventende, avslått eller lagt til domenet).</span><span class="sxs-lookup"><span data-stu-id="f38dc-109">The **Billing** card indicates the status of the verification process (approved, pending, declined, or add your domain).</span></span>

<span data-ttu-id="f38dc-110">Hvis forespørselen din avslås, kan du se [Skolen min er ikke kvalifisert. Hva gjør jeg nå?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span><span class="sxs-lookup"><span data-stu-id="f38dc-110">If your request is denied, see [My school isn’t eligible. What do I do now?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)</span></span>