---
title: EDU-bekreftelse
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205276"
---
# <a name="edu-verification"></a>EDU-bekreftelse

I de fleste tilfeller behandles forespørsler om akademisk berettigelse innen 24-48 timer. Noen forespørsler kan kreve grundigere gjennomgang og kan ta opptil 10 virkedager å behandle. Når du er ferdig, sender vi en e-post med skolens kvalifikasjonsstatus.

**Viktig** Hvis du gikk ut av bekreftelsesveiviseren før du går inn i et domene, kan du når som helst [gjenoppta veiviseren for akademisk bekreftelse](https://go.microsoft.com/fwlink/p/?linkid=2135255) under den gratis prøveperioden.

Hvis du vil kontrollere statusen for domenet, kan du gå til [administrasjonssenteret for Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Bla til bunnen på hjemmesiden, og finn **Fakturering-kortet.** **Faktureringskortet** angir statusen for bekreftelsesprosessen (godkjent, ventende, avslått eller legg til domenet ditt).

Hvis forespørselen din blir avslått, kan du se [Skolen min er ikke kvalifisert. Hva gjør jeg nå?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)