---
title: EDU-bekreftelse
ms.author: pebaum
author: pebaum
manager: scotv
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 24a9cd94272f4103fe404bf86e519582138e6b37734e11715b72ebcd2de9d5cb
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 08/05/2021
ms.locfileid: "53946756"
---
# <a name="edu-verification"></a>EDU-bekreftelse

I de fleste tilfeller behandles forespørsler om akademisk kvalifisering innen 24–48 timer. Noen forespørsler kan kreve en grundigere gjennomgang, og det kan ta opptil 10 virkedager å behandle. Når du er ferdig, sender vi en e-postmelding med skolens kvalifiseringsstatus.

**Viktig** Hvis du avsluttet bekreftelsesveiviseren [](https://go.microsoft.com/fwlink/p/?linkid=2135255) før du gikk inn i et domene, kan du gjenoppta veiviseren for akademisk bekreftelse når som helst i løpet av den gratis prøveperioden.

Hvis du vil kontrollere statusen for domenet, går du til [Administrasjonssenter for Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Rull ned til bunnen på hjemmesiden, og finn **faktureringskortet.** **Faktureringskortet** angir statusen for bekreftelsesprosessen (godkjent, ventende, avslått eller lagt til domenet).

Hvis forespørselen din avslås, kan du se [Skolen min er ikke kvalifisert. Hva gjør jeg nå?](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)