---
title: 8000038 GDPR underordnet forretningsforbindelse bekreftelse
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524420"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="b8f42-102">Fødselsdato vises i Microsoft-kontoen er feil</span><span class="sxs-lookup"><span data-stu-id="b8f42-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="b8f42-103">Microsoft tar konto sikkerhet på alvor.</span><span class="sxs-lookup"><span data-stu-id="b8f42-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="b8f42-104">Du kan har nylig blitt bedt om å gi samtykke fra foresatte for et barns konto for Microsoft.</span><span class="sxs-lookup"><span data-stu-id="b8f42-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="b8f42-105">Hvis du trenger hjelp til å gi samtykke fra foresatte eller oppdatere Fødselsdato på en Microsoft-konto, kan du se [Aldersverifisering for godkjennelse](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="b8f42-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="b8f42-106">Lær mer om [samtykke fra foresatte og Microsoft barnekontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="b8f42-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  