---
title: 8000038 e-postkontobekreftelse for gdpr
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 08/05/2021
ms.locfileid: "54057003"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødselsdatoen som vises i Microsoft-kontoen din, er feil

Microsoft tar kontosikkerhet svært alvorlig. Du kan nylig ha blitt bedt om å gi foreldresamtykke for et barns Microsoft-konto. Hvis du trenger hjelp med å gi foreldresamtykke eller oppdatere fødselsdatoen på en Microsoft-konto, kan du se [Alderskontroll for foreldresamtykke.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Finn ut mer [om samtykke fra foreldre og Microsoft-kontoer for barn.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  