---
title: 8000038 GDPR underordnet forretningsforbindelse bekreftelse
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 13e69ac917a08a338759269df5724c0528dd2eb0
ms.sourcegitcommit: 1d98db8acb9959aba3b5e308a567ade6b62da56c
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 08/22/2019
ms.locfileid: "36524420"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødselsdato vises i Microsoft-kontoen er feil

Microsoft tar konto sikkerhet på alvor. Du kan har nylig blitt bedt om å gi samtykke fra foresatte for et barns konto for Microsoft. Hvis du trenger hjelp til å gi samtykke fra foresatte eller oppdatere Fødselsdato på en Microsoft-konto, kan du se [Aldersverifisering for godkjennelse](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lær mer om [samtykke fra foresatte og Microsoft barnekontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).
  