---
title: 8000038 GDPR-bekreftelse av underordnet konto
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707972"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødsels datoen som ble vist i Microsoft-kontoen din, er feil

Microsoft tar sikkerhets konto sikkerhet på alvor. Du kan nylig ha blitt bedt om å gi foresatts samtykke for et barns Microsoft-konto. Hvis du trenger hjelp med å gi foresatte samtykke eller oppdaterer fødsels datoen på en Microsoft-konto, kan du se [alders kontroll for foresatte som samtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Lær mer om [foreldre samtykke og Microsoft Child-kontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).
  