---
title: 8000038 Bekreftelse av GDPR-barnekonto
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764989"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Fødselsdato som vises i Microsoft-kontoen din er feil

Microsoft tar hensyn til sikkerheten svært alvorlig. Du kan nylig ha blitt bedt om å gi foreldresamtykke til et barns Microsoft-konto. Hvis du trenger hjelp med å gi foreldresamtykke eller oppdatere fødselsdatoen på en Microsoft-konto, kan du se [Aldersbekreftelse for foreldresamtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Finn ut mer om [foreldresamtykke og Microsoft-barnekontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).
  