---
title: 8000038 Bekreftelse av GDPR-barnekonto
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764989"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a><span data-ttu-id="964d8-102">Fødselsdato som vises i Microsoft-kontoen din er feil</span><span class="sxs-lookup"><span data-stu-id="964d8-102">Date of birth displayed in your Microsoft account is incorrect</span></span>

<span data-ttu-id="964d8-103">Microsoft tar hensyn til sikkerheten svært alvorlig.</span><span class="sxs-lookup"><span data-stu-id="964d8-103">Microsoft takes account security very seriously.</span></span> <span data-ttu-id="964d8-104">Du kan nylig ha blitt bedt om å gi foreldresamtykke til et barns Microsoft-konto.</span><span class="sxs-lookup"><span data-stu-id="964d8-104">You may have recently been prompted to provide parental consent for a child's Microsoft account.</span></span> <span data-ttu-id="964d8-105">Hvis du trenger hjelp med å gi foreldresamtykke eller oppdatere fødselsdatoen på en Microsoft-konto, kan du se [Aldersbekreftelse for foreldresamtykke](https://go.microsoft.com/fwlink/p/?linkid=874364).</span><span class="sxs-lookup"><span data-stu-id="964d8-105">If you need help providing parental consent or updating the date of birth on a Microsoft account, see [Age verification for parental consent](https://go.microsoft.com/fwlink/p/?linkid=874364).</span></span>
  
<span data-ttu-id="964d8-106">Finn ut mer om [foreldresamtykke og Microsoft-barnekontoer](https://go.microsoft.com/fwlink/p/?linkid=874365).</span><span class="sxs-lookup"><span data-stu-id="964d8-106">Learn more about [Parental consent and Microsoft child accounts](https://go.microsoft.com/fwlink/p/?linkid=874365).</span></span>
  