---
title: Feilsøke utgiver bekreftelse
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885366"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a><span data-ttu-id="1086c-102">Problemer knyttet til Publisher-bekreftelse for utviklere</span><span class="sxs-lookup"><span data-stu-id="1086c-102">Issues related to Publisher Verification for developers</span></span>

<span data-ttu-id="1086c-103">**Anbefalte trinn**</span><span class="sxs-lookup"><span data-stu-id="1086c-103">**Recommended steps**</span></span> 

<span data-ttu-id="1086c-104">Hvis du vil løse problemer med bekreftelse av utgiver, utfører du Fremgangs måten nedenfor:</span><span class="sxs-lookup"><span data-stu-id="1086c-104">To resolve issues related to publisher verification, perform the below steps:</span></span>

1. <span data-ttu-id="1086c-105">Se gjennom forutsetningene og andre krav for å sikre at de er oppfylt.</span><span class="sxs-lookup"><span data-stu-id="1086c-105">Review the prerequisites and other requirements to ensure they are all met.</span></span>
2. <span data-ttu-id="1086c-106">Se gjennom instruksjonene for å [markere en app som utgiver verifisert](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , og sikre at alle trinnene er utført.</span><span class="sxs-lookup"><span data-stu-id="1086c-106">Review the instructions to [mark an app as publisher verified](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) and ensure all steps have been performed successfully.</span></span>
3. <span data-ttu-id="1086c-107">Se gjennom listen over [vanlige problemer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) , og følg de anbefalte trinnene hvis du har problemer fra en slik liste.</span><span class="sxs-lookup"><span data-stu-id="1086c-107">Review the list of [common issues](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) and follow the recommended steps if you have an issue from such a list.</span></span>
4. <span data-ttu-id="1086c-108">Reproduser forespørselen ved hjelp av [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) for å samle inn tilleggs informasjon og regel ut eventuelle problemer i bruker grensesnittet.</span><span class="sxs-lookup"><span data-stu-id="1086c-108">Reproduce the request using [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) to gather additional info and rule out any issues in the UI.</span></span>

<span data-ttu-id="1086c-109">**Anbefalte dokumenter**</span><span class="sxs-lookup"><span data-stu-id="1086c-109">**Recommended documents**</span></span>

- [<span data-ttu-id="1086c-110">Utgiver bekreftelse – oversikt</span><span class="sxs-lookup"><span data-stu-id="1086c-110">Publisher verification - overview</span></span>](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [<span data-ttu-id="1086c-111">Markere appen som utgiver bekreftet</span><span class="sxs-lookup"><span data-stu-id="1086c-111">Mark your app as publisher verified</span></span>](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [<span data-ttu-id="1086c-112">Feilsøke utgiver bekreftelse</span><span class="sxs-lookup"><span data-stu-id="1086c-112">Troubleshoot publisher verification</span></span>](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

