---
title: Feilsøke utgiver bekreftelse
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: nb-NO
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885366"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Problemer knyttet til Publisher-bekreftelse for utviklere

**Anbefalte trinn** 

Hvis du vil løse problemer med bekreftelse av utgiver, utfører du Fremgangs måten nedenfor:

1. Se gjennom forutsetningene og andre krav for å sikre at de er oppfylt.
2. Se gjennom instruksjonene for å [markere en app som utgiver verifisert](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) , og sikre at alle trinnene er utført.
3. Se gjennom listen over [vanlige problemer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) , og følg de anbefalte trinnene hvis du har problemer fra en slik liste.
4. Reproduser forespørselen ved hjelp av [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) for å samle inn tilleggs informasjon og regel ut eventuelle problemer i bruker grensesnittet.

**Anbefalte dokumenter**

- [Utgiver bekreftelse – oversikt](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Markere appen som utgiver bekreftet](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Feilsøke utgiver bekreftelse](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

